# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# Notebooks checkpoints
.ipynb_checkpoints/

# Environment
.env
.codex

# OpenEMMA
OpenEMMA/

# Dataset
datasets/

# Task
task3.md
task4.md

# results

# embeddings
training/embeddings
training/scene_branch_23

